<div class="container">
	<div class="top">
		<h1>Send a <strong>compliment</strong> someone's way!</h1>

		<div class="error" ng-show="showErrorMessage">
			<h4>{{ errorMessage }}</h4>
		</div>

		<input ng-model="newPropsValue" type="text" display="Add your message here!" ng-class="{
			'input-disable': isSending
		}"/>
		<div class="center">
			<select ng-options="bru.id as bru.first_name for bru in brus track by bru.id" ng-model="selectedBru" ng-class="{
				'input-disable': isSending
			}"></select>
			<button ng-click="sendProps()" ng-class="{
				'button-disable': isSending
			}">Send</button>
			<button ng-click="refresh()" ng-class="{
				'button-disable': isSending
			}">
				<img class="refresh" src="http://i346.photobucket.com/albums/p438/adimitui/Refresh%20White_zpsi4ypg918.png"/>
			</button>
		</div>
	</div>

	<div class="props-list">
		<ul>
			<li ng-repeat="prop in props">
				<h4><strong><span>{{ prop.receiver.first_name }} {{ prop.receiver.last_name }}</span></strong> {{ prop.text }}</h4>
			</li>
		</ul>
	</div>
</div>