<div class="segment-jumbotron">
	<div class="container">
		<div class="col-md-6">
			<div class="right">
				<img src="http://i346.photobucket.com/albums/p438/adimitui/iPhone%20003_zps5prpotvt.png"/>
			</div>
		</div>

		<div class="col-md-6">
			<div class="left">
				<h1>Adevo</h1>
				<div class="segment-subheading">
					<h2>We're here so you can display advertisements natively on your mobile applications.</h2>
				</div>

				<div class="row">
					<a href="#/browse">
						<button class="segment-jumbotron-active">
							<h4>Browse Library</h4>
						</button>
					</a>
				</div>
				<div class="row">
					<a href="#/signup">
						<button>
							<h4>Sign Up</h4>
						</button>
					</a>
				</div>
				<div class="row">
					<a href="#/signup">
						<button>
							<h4>Log In</h4>
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="segment-question">
	<div class="row">
		<div class="center">
			<h1>Getting Started</h1>
			<h2>Are you new to Adevo? Click on one of the options below to learn more!</h2>
		</div>
	</div>

	<!-- Segment for Advertisers or Developers -->
		<!-- <a href="#/upload">
			<div class="one-half">
				<div class="advertiser-box">
					<div class="center">
						<div class="advertiser-developer-width">
							<h1>I am an advertiser</h1>
							<span class="glyphicon glyphicon-bullhorn glyphicon-bullhorn-color" aria-hidden="true"></span>
							<h2>I want to upload advertisements to the Subtle library for developers to implement natively into their apps to increase directed traffic toward my products.</h2>
						</div>
					</div>
				</div>
			</div>
		</a>

		<a href="#/browse">
			<div class="one-half">
				<div class="developer-box">
					<div class="center">
						<div class="advertiser-developer-width">
							<h1>I am a developer</h1>
							<span class="glyphicon glyphicon-phone glyphicon-phone-color" aria-hidden="true"></span>
							<h2>I want to select and customize advertisements to display natively in my app in order to monetize my content while maintaining user experience.</h2>
						</div>
					</div>
				</div>
			</div>
		</a>
</div> -->